*{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}


/* Importación de fuente */
@font-face {
  font-family: "TrajanPro-Regular.ttf";
  src: url(../assets/fonts/TrajanPro-Regular.ttf);
}


/* Configuración de titulares */
h1, h2 {
  font-family: "TrajanPro-Regular";
}


/* Reseteo aplicado al footer */
.reseteoListas, a:link, a:visited, a:active {
  list-style-type: none; 
  text-decoration: none;
}


/* Selector de texto personalizado */
::selection {
  background-color: #0b2d9f;
  color: white;
}


body {
  color: white;
  background-color: rgb(0, 0, 0);
  height: 100%;
}


/* Menú */
#mainNav {
  background-color: rgb(0, 0, 0);
  height: 20vh;
}

@media only screen and (max-width: 768px) {
  #mainNav {
    height: 10vh;
  }
}

.navbar-nav li a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-toggler {
  color: rgb(255, 255, 255);
}

.navbar-nav {
  background-color: rgb(0, 0, 0);
  width: 100%;
}


/* Botones */
.buttonPrincipal {
  font-family: "TrajanPro-Regular";
  font-weight: bold;
  background-color: white;
  color: black;
  width: 150px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
  
.buttonPrincipal a {
  text-decoration: none;
  color: black;
  font-family: "TrajanPro-Regular";
  font-weight: bold;
}
  
.buttonPrincipal:hover {
  border: 3px solid #0b2d9f;
  transform: scale(1.1);
}

.buttonReset {
  font-family: "TrajanPro-Regular";
  width: 150px;
  height: 60px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: #0b2d9f;
}


/* Home */
#thirdSectionHome {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 10px;
  padding: 60px;
}

#fifthSectionHome {
  background-image: url(../assets/images/hollow_knight_cornisa.webp);
  height: 900px;
  background-size: cover;
  background-position: center;
}


/* Acordión de FAQ's */
.accordion-item {
  background-color: #000000;
  color: white;
}

.accordion-button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: solid 2px #0b2d9f;
  margin: 1px;
}

.accordion-button:hover {
  background-color:rgb(179, 179, 179);
}


/* Formulario de contacto */
form {
  width: 50%;
  height: auto;
  margin: 50px auto;
  padding: 50px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  color: #000000;
  overflow: hidden;
}

.formulario__input{
  font-size: 0.8rem;
  padding: 10px;
  outline: none;
  width: 100%;
  resize: none;
}

fieldset {
  border: 2px solid #0b2d9f;
  border-radius: 3px;
  box-shadow: none;
  padding: 10px;
}

fieldset legend {
  font-weight: bold;
}


/* Contenedor de videos incrustados */
.iframeContainer {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .iframeContainer {
    height: 50vh;
  }
}

/* Fondo con gradiente */
.bg-gradient {
  background-image: linear-gradient(to right bottom, #121315, #121a28, #11203b, #11254f, #172a63);
  background-image: linear-gradient(0deg, #142765 0%, #000000 100%);  
}

/* Contenedor blanco redondeado */
.round-container {
  background-color: rgb(255, 255, 255);
  color:#000000;
  border-radius: 1rem;
}

