  body {
    font-family: $font-family-texto;
    font-weight: 300;
    color: map-get($paletaColores, "blanco");
    background-color: map-get($paletaColores, "negro");
    height: 100%;

    h1, h2{
        font-family: $font-family-titular;
    }
  }

  ::selection {
    background-color: map-get($paletaColores, "azul");
    color: map-get($paletaColores, "blanco");
  }
  