.iframeContainer {
    width: 100%;
    height: 100vh;
    @include responsive (768px){
        height: 50vh;
      }
  }

  .round-container {
    background-color: map-get($paletaColores, "blanco");
    color: map-get($paletaColores, "negro");
    border-radius: 1rem;
  }