.formulario{
  form{
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 50px;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    color: #000000;
    overflow: hidden;

    fieldset{
        border: 2px solid #0b2d9f;
        border-radius: 3px;
        box-shadow: none;
        padding: 10px;

        legend{
            font-weight: bold;
        }
        div{
          .formulario__input{
            font-size: 0.8rem;
            padding: 10px;
            outline: none;
            width: 100%;
            resize: none;
          }  
        }
    }
  }  
}