header{
    #mainNav{
        background-color: map-get($paletaColores, "negro");
        height: 20vh;
        @include responsive (768px){
            height: 10vh;
          }

        .navbar-toggler{
            color: map-get($paletaColores, "blanco");
        }

        #navbarResponsive{
            .navbar-nav{
                background-color: map-get($paletaColores, "negro");
                width: 100%;
                
                li a{
                    color: map-get($paletaColores, "blanco");
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }
    }
}