header{
    #mainNav{
        background-color: rgb(0, 0, 0);
        height: 20vh;
        @include responsive (768px){
            height: 10vh;
          }

        .navbar-toggler{
            color: rgb(255, 255, 255);
        }

        #navbarResponsive{
            .navbar-nav{
                background-color: rgb(0, 0, 0);
                width: 100%;
                
                li a{
                    color: white;
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }
    }
}