main{
    #thirdSectionHome{
        background-color: map-get($paletaColores, "blanco");
        color: map-get($paletaColores, "negro");
        margin: 10px;
        padding: 60px;
    }
    #fifthSectionHome{
        background-image: url(../assets/images/hollow_knight_cornisa.webp);
        height: 900px;
        background-size: cover;
        background-position: center;
    }
    #sixthSectionHome{
        .accordion-item{
            background-color: map-get($paletaColores, "negro");
            color: map-get($paletaColores, "blanco");
            .accordion-button{
                background-color: map-get($paletaColores, "blanco");
                color: map-get($paletaColores, "negro");
                border: solid 2px map-get($paletaColores, "azul");
                margin: 1px;
                &:hover{
                    background-color: map-get($paletaColores, "gris");
                }
            }
        }
    }
}